@use "../util/" as u;

.features {
  &__headline {
    font-size: var(--font-l);
  }

  &__feature {
    font-weight: normal;
  }

  &__description {
    font-size: var(--font-s);
  }

  &__cta {
    display: inline-block;

    font-size: var(--font-s);
    font-weight: 700;
    color: var(--color-dark);

    .icon {
      display: inline-block;
      margin-left: u.rem(20);
      vertical-align: middle;
    }
  }
}
