@use "../util/" as u;

.header {
  &__logo {
    width: u.rem(40);

    @media (width >= u.rem(1120)) {
      width: u.rem(49);
    }
  }

  &__link {
    color: var(--color-gray);
    font-size: var(--font-m);
    font-weight: 500;
    line-height: 1.3;

    @media (width >= u.rem(1120)) {
      font-size: var(--font-body);
    }

    &:hover {
      color: var(--color-dark);
    }
  }

  &__link--active {
    color: var(--color-dark);
  }

  &__cta {
    display: inline-block;
   
    padding: u.rem(18) u.rem(30);

    background: var(--color-white);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: u.rem(50);

    color: var(--color-dark);
    font-size: var(--font-s);
    font-weight: 700;

    .icon {
      display: inline-block;
      margin-left: u.rem(20);
      vertical-align: middle;
    }
  }
}
